# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data and model cache
*.cache/
.cache/
datasets/
*.h5
*.hdf5

# Qdrant storage (from Docker)
qdrant_storage/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode settings
.vscode/

#ENV
.env